@model OnlinePharmacy.Models.SaleItem

@{
    ViewBag.Title = "Delete drug line item..";
}

<h2>Delete drug line item</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SaleItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drug.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale.PatientName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.SaleID }, null)
        </div>
    }
</div>
