@model IEnumerable<OnlinePharmacy.Models.Drug>

@{
    ViewBag.Title = "List of Drugs";
}

<h2> Drug Master</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Form)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRestricted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRestricted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DrugID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DrugID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DrugID })
            </td>
        </tr>
    }

</table>
