@model OnlinePharmacy.Models.SaleItem

@{
    ViewBag.Title = "Details of drug line items..";
}

<h2>Details of drug line items</h2>

<div>
    <h4>Sale Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sale.SaleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale.SaleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleItemID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drug.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale.PatientName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaleItemID }) |
    @Html.ActionLink("Back to List", "index", new { id = Model.SaleID }, null)
</p>
