@model OnlinePharmacy.Models.DrugInventory

@{
    ViewBag.Title = "Details of a drug inventory";
}

<h2>view details of inventory</h2>

<div>
    <h4>Drug Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PruchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PruchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufatureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufatureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drug.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DrugInventoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
