@model IEnumerable<OnlinePharmacy.Models.DrugInventory>

@{
    ViewBag.Title = "List of inventory";
}

<h2>Drug Inventory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PruchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufatureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drug.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PruchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufatureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DrugInventoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DrugInventoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DrugInventoryID })
            </td>
        </tr>
    }

</table>
